name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Validate composer.json and composer.lock
      run: cd app && composer validate

    - name: Cache Composer packages
      id: composer-install-dependencies
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      id: composer-install-dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: cd app && composer install --prefer-dist --no-progress --no-suggest

    - name: Run Unit Tests
      needs: [composer-cache, composer-install-dependencies]
      run: cd app && vendor/bin/phpunit tests/Unit

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md